<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <div class="media">
    <div class="media-body">
      <small>

      </small>
      <p><%= item.name %>
    </div>
  </div>
<% end %>
